/*APARTADO BLOG*/

.bannerBlog {
    text-align: center;
  }
  
  .tituloPrep {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 50px;
  }
  
  .contenedorPreparando {
    box-shadow: 5px 5px 15px gray;
    display: inline-flex;
    justify-content: center;
  }
  
  .img1 {
    box-shadow: 5px 5px 15px gray;
  }
  
  .pasosMate {
    font-size: 24px;
    padding: 50px;
    list-style: circle;
  }
  
  .tituloTipos {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 50px;
  }
  
  .subtituloTipos {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
  }
  
  .descripcionTipos {
    text-align: center;
    font-size: 24px;
  }
  
  .tiposHijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  
  .img3 {
    margin-bottom: 20px;
    width: 850px;
    box-shadow: 5px 5px 20px gray;
  }
  
  .contenedorTipos {
    display: flex;
    box-shadow: 5px 5px 20px gray;
  }
  
  .tituloTip {
    padding-top: 25px;
    text-align: start;
    font-size: 54px;
    text-decoration: underline;
    font-family: 'Kalnia', serif;
    padding-left: 10px;
  }
  
  .imgTip {
    width: 550px;
    box-shadow: 5px 5px 20px gray;
  }
  
  .parrafoTipos {
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
  }
  

  h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 50px;
  }