/* CONTACTO */

.container {
    background: linear-gradient(to right, #000000, #6d6d6d);
    width: 600px;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid gray;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(104, 104, 104);
  }
  
  h3 {
    margin: 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .caja {
    display: flex;
    margin: 5px 0px;
  
    label {
      flex-basis: 80px;
    }
  
    input {
      flex: 1;
    }
  }
  
  .btnContacto {
    background-color: rgb(153, 153, 153);
    color: #fff;
    border: none;
    padding: 6px;
    margin-top: 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
  
    &:hover {
      transform: scale(1.02);
    }
  }

  .mate{
    transform: translate(-25px, 16px);
    width: 30px;
    align-items: end;
    display: inline-block;
    
  }

  .termo{
    transition: 1.2s;
    
  }

  .termo:hover{
    transform: rotate(30deg);

  }

  .contactoTitulo {
    text-shadow: $shadow-titulo;
    font-size: 30px;
    text-decoration: none;
    

  }
