/*FOOTER*/

.derechos {
    background-color: #ffffff;
    text-align: center;
    border: black solid 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .contenedorConsulta {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, black, white);
    text-align: center;
    color: white;
  }
  
  /* FINALIZA FOOTER */
  
  /*FOOTER2*/
  
  .contenedorFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  .consulta {
    height: 40px;
    display: inline;
    justify-content: center;
    
  }
  
  .consultaBtn {
    color: rgb(0, 0, 0);
    background: linear-gradient(#5433FF,#20BDFF);
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
  
    &:hover {
      transform: scale(1.2);
    }
  }
  
  /* .medios{
    display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  } */
  
  .tituloItem {
    text-align: start;
  }
  
  .itemFooterPagos {
    width: 50px;
    margin-left: 10px;
  }