/*APARTADO NOSOTROS*/

.nosotros1 {
    font-size: 100px;
    font-family: "abril fatface", sans-serif;
  }
  
  .nosotrosTexto {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .imgContenedor {
    display: flex;
    justify-content: center;
  }